.row{
    margin-bottom: 10px;
}
h4{
    text-align: center;
}
.container{
    padding: 4.375rem;
}
.card{
    margin:auto;
    width: 21rem;
    min-height: 28.875rem;
}
#validationError,#result{
    display: none;
}
