.container{
    width: fit-content;
    background-color: #3c576c;
    color: white;
    margin: auto;
    padding: 10px;
   
}
.header{
    justify-content: center;
    margin-top: 2.688rem;
}
.health_city h1, .hospital h1{
    margin: 11px;
    padding: 0px;
}
.flexbox_class{
    display: flex;
}
.font,p,.label_font{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
.hospital{
    font-size: 24px;
}
.health_city{
    font-size: 18px;
}
input:focus{
    outline: none;
}
.consent_form{
    font-size: 2.125rem;
    padding-bottom: 29px;
    margin-left: 3.375rem;
}
.form{
    margin-right: 60px;
    margin-bottom: 24px;
    margin-left:60px;
}
.address_input{
    width: 20rem;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3c576c;
    border-bottom: 2px solid  #7c8d99;
}
.input_field {
    width: 20rem;
    padding: 9px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3c576c;
    border-bottom: 2px solid  #7c8d99;
}
.full_width{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3c576c;
    border-bottom:2px solid  #7c8d99;
    width: 40.813rem;
}
.gap_class{
    gap: 20px;
}
.dob_input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3c576c;
    border-bottom: 2px solid  #7c8d99;
    width: 15.125rem;
    font-size: 17px;
}
.country_input_field{
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3c576c;
    border-bottom: 2px solid  #7c8d99;
    width: 41.188rem;
}
.form_info{
    text-align: center;
}
.calender_icon{
    margin-top: 2.125rem;
}
div,.address{
    color: rgb(191 209 218);
}
h1,h2,h3,p,.information,.address{
    color: white;
}
.address{
    font-size: 15px;
}
.name,.date_of_birth,.medical_number,.mobile,.email{
    font-size: 13px;
}
.address_font{
    font-size: 12px;
}
.information{
    font-size: 21px;
}
.address,.health_city,.hospital{
    font-family: sans-serif;
}
.dob_row,.phone_number_row,.address,.street_row,.state_row,.country_row{
    margin-top: 16px;
}   
